body {
    width: 99%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ3cNIdch7cfe0XlxzthASU_eD5XCsbsUGww&usqp=CAU);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
  }
  .container {
    width: 90%;
    max-width: 30em;
    margin: 0 auto;
    padding-top: 5em;
    color: darkorchid;
    
  }
  
  .login-form {
    background: #f2f2f2;
    padding: 1.5em;
    border-radius: 0.3em;
    border: 3px solid rgba(236, 231, 231, 0.11);
    box-shadow: 5px 5px 6px 4px rgb(112, 109, 109);
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  
  .input-group {
    margin-bottom: 2em;
    margin-right: .8em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .input-email,
  .input-password {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
  }
  
  
  button {
    width: 100%;
    padding: 0.8em;
    background-color: darkorchid;
    border: none;
    border-radius: 0.3em;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  